
core/config.json
xray_config.json
core/win/config.json
GUI-var/__pycache__
test.py
test3.py
gui/test_2.py
core/linux/select.txt
gui/test3.py
GUI-ver/test.py
subs/3ircle
GUI-ver/subs/3ircle
core/win/select.txt
